.search-form {
	input {
    height: 50px;
    background-color: $primary-color;
    border: none;
    padding: 0 15px;

    &.search-submit {
      width: 150px;
      background-color: #FFFFFF;
      border: 3px solid $primary-color;
    }
  }

	.screen-reader-text {
		display: none;
	}
}