//Color Variables
$primary-color: rgb(242, 240, 240);
$primary-darken: #E2E0E0;
$border-color: rgba(0, 0, 0, 0.15);
$secondary-copy-color: rgba(0, 0, 0, 0.5);

//Typography Variables
$large-tracking: 0.15em;
$small-tracking: 0.06em;

//Typography
body {
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	@include set-font('Crimson Text');
	margin: 0;
}

p {
	@include set-font('Lato');
}

a {
	text-decoration: none;
	color: black;
}

ul {
	padding: 0;
}

ol {
	padding-left: 1em;
}

//Header Typography

h2.site-description {
	font-size: 0.625em;
	text-transform: uppercase;
	letter-spacing: $large-tracking;
	text-align: center;
	margin: 1.5em 0 3em;
}

.main-navigation li a {
	@include set-font('Crimson Text', bold);
	font-size: 0.75em;
	text-transform: uppercase;
	letter-spacing: $large-tracking;

	&:hover {
		text-decoration: underline;
	}
}

//Slider Typography
h2.slide-title {
	@include set-font('Lato', 100);
	font-size: 1.5em;
	color: white;
	text-transform: uppercase;
	letter-spacing: $small-tracking;
}

.slide-copy {
	color: #FFFFFF;
}

.slide-copy a {
	@include set-font('Crimson Text', bold);
	color: white;
	font-size: 0.75em;
	letter-spacing: $large-tracking;
	text-transform: uppercase;
}

//Shared Styling
.post-date {
	@include set-font('Crimson Text', normal, italic);
	font-size: 0.8125em;
	text-align: center;
	margin-bottom: 2.6923em;
}

.entry-content p, .entry-excerpt p {
	font-size: 1.125em;
	line-height: 1.8889em;
}

//Index Post Styling
.post-category-wrap a {
	@include set-font('Lato', bold);
	font-size: 0.8em;
	letter-spacing: $small-tracking;
	text-transform: uppercase;
}

.post-body-copy {
	h1 {
		font-size: 1.5em;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.03em;
		-webkit-font-smoothing: antialiased;
	}

	.entry-content p {
		font-size: 1em;
		line-height: 1.8889em;
	}

	em:last-of-type {
		font-size: 0.8889em;
	}
}

.index-post-tags, .icon-text {
	@include set-font('Crimson Text', normal);
	font-size: 0.75em;

	a:hover {
		text-decoration: underline;
	}
}

.index-posts-navigation {
	@include set-font('Lato', normal);
}

//Sidebar Styling
.widget {
	h1 {
		@include set-font('Crimson Text', 100);
	    font-size: 0.85em;
	    text-transform: uppercase;
	    text-align: center;
	    letter-spacing: 0.15em;
	    margin-bottom: 1em;
	}

	li {
		text-align: center;
	}

	a {
		@include set-font('Lato', normal);
		font-size: 0.875em;
		text-transform: uppercase;
		color: #000000;
		vertical-align: middle;
	}

	.about-copy {
		@include set-font('Crimson Text', normal, italic);
		font-size: 0.75em;
		line-height: 1.5em;
		text-align: center;
	}
}

//Shared Post Styling
h1.entry-title, h2.entry-title {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: $small-tracking;
	-webkit-font-smoothing: antialiased;
}

//Recipe Styling
.ingredients h3 {
	@include set-font('Lato', bold);
	text-transform: uppercase;
	letter-spacing: $small-tracking;
	margin-bottom: 15px;
}

.ingredient-line {
	@include set-font('Lato', normal);
	font-size: 1em;
	line-height: 1.6;

	.ingredient-qty {
		display: inline-block;
		min-width: 40px;
		text-align: right;
		margin-right: 10px;
	}
}

.recipe-post-content {
	ol {
		text-align: left;
	}

	p, li {
		@include set-font('Crimson Text', normal);
		font-size: 1em;
		line-height: 2;
		margin-bottom: 1em;
	}

	p::first-letter {
		padding-right: 5px;
		font-weight: bold;
	}
}

//Previous Next Posts
.pn-meta {
	@include set-font('Lato', normal);
	font-size: 0.75em;
	text-transform: uppercase;
}

.pn-title {
	@include set-font('Crimson Text', bold);
	font-size: 1.125em;
	text-transform: uppercase;
	letter-spacing: $small-tracking;
}

.pn-date {
	@include set-font('Crimson Text', normal, italic);
	font-size: 0.8125em;
}

.pn-tags {
	@include set-font('Crimson Text' normal);
	font-size: 0.75em;
}

//Comments
.comments-area {
	h3.entry-title {
		@include set-font('Crimson Text', bold);
		font-size: 1.5em;
		text-transform: uppercase;
		letter-spacing: $small-tracking;
	}

	h3.comment-reply-title {
		@include set-font('Crimson Text', bold);
		font-size: 1.125em;
		text-transform: uppercase;
		letter-spacing: $small-tracking;
	}

	input, textarea {
		@include set-font('Crimson Text', normal);
		font-size: 0.875em;

		&.submit {
			@include set-font('Lato', bold);
			text-transform: uppercase;
			font-size: 0.75em;
		}
	}

	.comment-author {
		@include set-font('Lato', normal);
		font-size: 1em;
		margin-bottom: 1em;

		.comment-author-link {
			text-transform: uppercase;
			font-weight: light;
			font-size: 1.125em;
			letter-spacing: $small-tracking;
		}
		
		.comment-author-phrase {
			font-size: 0.875em;
		}
	}

	.comment-content {
		@include set-font('Crimson Text', normal);
		font-size: 1em;

		p {
			margin-bottom: 2em;
		}
	}

	.comment-meta-item, .comment-reply-link {
		@include set-font('Lato', bold);
		font-size: 0.75em;
	}

	.comment-meta-item {
		text-transform: capitalize;
	}

	.comment-reply-link {
		text-transform: uppercase;
		letter-spacing: $small-tracking;
		margin-left: 50px;
	}
}

//Search Form
.search-form {
	@include set-font('Lato');
}
